NEXT_PUBLIC_SUPABASE_URL=https://tnbykbfynpnriktdvsdr.supabase.co/
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_CXQRKNiyb3oE_9_68W-HcA_BKd9toCI
NEXT_PUBLIC_APP_URL=http://localhost:3000

# URL del backend para los rewrites de /api/*
BACKEND_URL=http://localhost:3001

# Opcional, autocomplete de direcciones
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
